.apod {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: white;
}
#subtitulo {
    text-align: center;
    font-size: 30px;
    color: white;
}
.calendario {
    text-align: center;
}
#botao {
        background: transparent;
        border: none !important;

}
.fundo { 
    background-image: url(./helix.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo{
    font-size: 25px;
    color: white;
}
#img {
    border-radius: 60px;
    width: 50%;
    height: 100%;
}
#legenda{
    font-size: 22px;
    color: white;
}
.texto {
    width: 50%;
    height:40%;
    text-align: justify;
}
.rodape {
    text-align: center;
    font-size: 25px;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}